on:
  schedule:
    - cron: '0 * * * *'  # Every hour
  workflow_dispatch: 
jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: pip install beautifulsoup4
      - run: python WS-StAN.py
